<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.julu.mapper.Content_configMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.julu.entity.Content_config">
        <id column="id" property="id" />
        <result column="is_open_audio" property="is_open_audio" />
        <result column="is_open_comment" property="is_open_comment" />
        <result column="is_need_examine" property="is_need_examine" />
        <result column="browse_integral_num" property="browse_integral_num" />
        <result column="comment_integral_num" property="comment_integral_num" />
        <result column="is_show_like" property="is_show_like" />
    </resultMap>

</mapper>
