<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.julu.mapper.Cotent_broadcast_configMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.julu.entity.Cotent_broadcast_config">
        <id column="id" property="id" />
        <result column="is_show_point" property="is_show_point" />
        <result column="is_auto_change" property="is_auto_change" />
        <result column="auto_change_time" property="auto_change_time" />
        <result column="animation_time" property="animation_time" />
    </resultMap>

</mapper>
