<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.julu.mapper.Integral_exchange_socerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.julu.entity.Integral_exchange_socer">
        <id column="id" property="id" />
        <result column="exchange_num" property="exchange_num" />
        <result column="socer_num" property="socer_num" />
        <result column="user_id" property="user_id" />
        <result column="exchange_time" property="exchange_time" />
    </resultMap>

</mapper>
