<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.julu.mapper.Integral_codeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.julu.entity.Integral_code">
        <id column="id" property="id" />
        <result column="code" property="code" />
        <result column="good_id" property="good_id" />
        <result column="is_used" property="is_used" />
        <result column="end_date" property="end_date" />
    </resultMap>

</mapper>
