<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.julu.mapper.Sys_user_rolesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.julu.entity.Sys_user_roles">
        <id column="id" property="id" />
        <result column="sys_user_id" property="sys_user_id" />
        <result column="roles_id" property="roles_id" />
    </resultMap>

</mapper>
