<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.julu.mapper.Sys_role_rightMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.julu.entity.Sys_role_right">
        <id column="id" property="id" />
        <result column="right_id" property="right_id" />
        <result column="role_id" property="role_id" />
    </resultMap>

</mapper>
